<%= form_for(@worklog) do |f| %>
  <% if @worklog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worklog.errors.count, "error") %> prohibited this worklog from being saved:</h2>

      <ul>
      <% @worklog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="entry">
        <%= worklog.date %>
        <%= sanitize(worklog.description) %>
        <%= select(:worklog, :project_id, Project.all, :id, :name) %>
        <%= select(:worklog, :type_id, Type.all, :id, :name) %>
        <%= worklog.value %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
