<h1>Listing worklogs</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Project</th>
    <th>Work Type</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @worklogs.each do |worklog| %>
  <tr>
    <td><%= worklog.date %>
    <td><%= worklog.description %>
    <td><%= worklog.project.name %>
    <td><%= worklog.type.name %>
    <td><%= worklog.value %>
    <td><%= link_to 'Show', worklog %></td>
    <td><%= link_to 'Edit', edit_worklog_path(worklog) %></td>
    <td><%= link_to 'Destroy', worklog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Worklog', new_worklog_path %>
