<p id="notice"><%= notice %></p>

<%= @worklog.date %>
<%= @worklog.description %>
<%= @worklog.project.name %>
<%= @worklog.type.name %>
<%= @worklog.value %>

<%= link_to 'Edit', edit_worklog_path(@worklog) %> |
<%= link_to 'Back', worklogs_path %>
