<h1>Timesheet#index</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Timesheet for <% @timesheet.employee.jira_username %>for the period ending on <% @timesheet.end_date %></h1>

<% @timesheet.worklogs.each do |worklog| %>
    <div class="entry">
        <%= worklog.date %>
        <%= sanitize(worklog.description) %>
        <%= worklog.project.name %>
        <%= worklog.type.name %>
        <%= worklog.value %>
    </div>
<% end %>
