<% f.fields_for :worklogs do |builder| -%>
    <div class="entry">
        <%= builder.date_select(:date) %>
        <%= builder.collection_select(:project_id, Project.all, :id, :name ) %>
        <%= builder.collection_select(:type_id, Type.all, :id, :name ) %>
        <%= builder.text_field(:value, :size => "2" ) %>
        <%= builder.text_field(:description) %>
    </div>

  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Destroy', worklog, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

<% end %>

