<h1>Listing admin_projects</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.code %></td>
    <td><%= project.name %></td>
    <td><%= link_to 'Show', admin_project_path(project) %></td>
    <td><%= link_to 'Edit', edit_admin_project_path(project) %></td>
    <td><%= link_to 'Destroy', admin_project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_admin_project_path %>
