<% form_for @timesheet do |f| %>
  <% if @timesheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>

      <ul>
      <% @timesheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
    End date:<%= f.text_field(:end_date) %>
  </p>

    <% if @timesheet.worklogs.any? %>
      <%= render :partial => 'shared/worklog', :locals => { :f => f, :worklog => @timesheet.worklogs } %>
    <% else -%>
      <%= render :partial => 'shared/worklog', :locals => { :f => f, :worklog => @partner_configuration } %>
    <% end -%>

    <p><%= f.submit "Submit" %></p>
<% end %>
count of wl is: <%= @timesheet.worklogs.count %>


