<%= form_for(@timesheet) do |f| %>

    <%= f.fields_for :worklogs do |builder| %>
        <%= render 'worklog_fields', :f => builder %>
    <% end %>
    <p><%= link_to_add_fields "Add Worklog", f, :worklogs %></p>
    <p><%= f.submit "Submit" %></p>
<% end %>

