<h1>Editing timesheet</h1>

Employee: <%= @timesheet.employee.jira_username %><br>
End Date: <%= @timesheet.end_date %><br>

<%= render :partial => 'form' %>

<p>
<%= link_to 'Show', @timesheet %> |
<%= link_to 'Back', timesheets_path %>
