<h1>Listing timesheets</h1>

<table>
  <tr>
    <th>End Date</th>
    <th>Employee</th>
    <th></th>
  </tr>

<% @timesheets.each do |timesheet| %>
  <tr>
    <td><%= timesheet.end_date %></td>
    <td><%= timesheet.employee.jira_username %></td>
    <td><%= link_to 'Show', timesheet_path(timesheet) %></td>
    <td><%= link_to 'Edit', edit_timesheet_path(timesheet) %></td>
    <td><%= link_to 'Destroy', timesheet_path(timesheet), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

