<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Itbs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</p>
</p>
</p>
<%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete %>

</body>
</html>
